<form method="post">
    <div class="form-group">
        <label for="news-title">Title</label>
        <input type="text"  name="title" class="form-control" id="news-title" value="{{ model.title }}">
    </div>
    <div class="form-group">
        <label for="news-description">Description</label>
        <input type="text" name="description" class="form-control" id="news-description" value="{{ model.description }}">
    </div>
    <div class="form-group">
        <label for="news-content">Content</label>
        <textarea name="content" id="news-content" class="form-control" cols="30" rows="10">{{ model.content }}</textarea>
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Save</button>
    <a href="/admin/news" class="btn btn-sm btn-secondary">Cancel</a>
</form>
