{% extends "admin/layout/base.twig" %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <h2>News</h2>
    <a href="/admin/news/create" class="btn btn-success btn-sm btn-create-model">Create</a>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Created at</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for news_item in news %}
                <tr>
                    <td>{{ news_item.id }}</td>
                    <td>{{ news_item.title }}</td>
                    <td width="50%">{{ news_item.description }}</td>
                    <td>{{ news_item.created_at }}</td>
                    <td>
                        <a href="/admin/news/edit?id={{ news_item.id }}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                        <a href="/admin/news/delete?id={{ news_item.id }}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
       {% include 'admin/widgets/pagination.twig' with {'pagination': pagination} %}
    </div>
</main>

{% endblock %}