{% extends "admin/layout/base.twig" %}

{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <h2>Update "{{ model.title }}"</h2>
        {% include '/admin/widgets/alert.twig' with {'msg': msg} %}
        {% include '/admin/news/_form.twig' with {'model': model} %}
    </main>
{% endblock %}
