<nav aria-label="Pagination">
    {% if  pagination.totalPages > 1 %}
        <ul class="pagination">
            <li class="page-item {% if  pagination.page == 1 %} disabled {% endif %}">
                <a class="page-link" href="{{ pagination.url }}?page=1" tabindex="-1"><<</a>
            </li>
            {% for page in pagination.firstPage..pagination.lastPage %}
                <li class="page-item {% if  page == pagination.page %} active {% endif %}">
                    <a class="page-link" href="{{ pagination.url }}?page={{ page }}">{{ page }}
                        {% if  page == pagination.page %}  <span class="sr-only">(current)</span> {% endif %}
                    </a>
                </li>
            {% endfor %}
            <li class="page-item {% if  pagination.page == pagination.totalPages %} disabled {% endif %}">
                <a class="page-link" href="{{ pagination.url }}?page={{ pagination.lastPage }}">>></a>
            </li>
        </ul>
    {% endif %}
</nav>