{% extends "layout/base.twig" %}

{% block content %}
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Welcome to the best news portal</h1>
            <p class="lead my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam eu elit eget
                eleifend. Vivamus eget tempus sapien. Sed imperdiet, tellus vitae dictum congue, ligula magna
                hendrerit arcu, et suscipit metus velit porttitor turpis. Duis quis nisi et sapien accumsan tincidunt
                at quis quam.</p>
        </div>
    </div>

    <div class="row mb-2">

        {% for news_item in news %}
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">{{ news_item.title }}</h3>
                        <div class="mb-1 text-muted">{{ news_item.created_at }}</div>
                        <p class="card-text mb-auto">{{ news_item.description }}</p>
                        <a href="/view?id={{ news_item.id }}" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                             preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                             aria-label="Placeholder: Thumbnail"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'admin/widgets/pagination.twig' with {'pagination': pagination} %}

{% endblock %}
