{% extends "layout/base.twig" %}

{% block content %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">{{ model.title }}</h2>
                    <p class="blog-post-meta">{{ model.created_at }}</p>

                    <p>{{ model.description }}</p>
                    <hr>
                    {{ model.content }}
                </div><!-- /.blog-post -->

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="font-italic">About</h4>
                    <p class="mb-0">
                        Etiam porta <em>sem malesuada magna</em>
                        mollis euismod. Cras mattis consectetur purus sit amet fermentum.
                        Aenean lacinia bibendum nulla sed consectetur.
                    </p>
                </div>

                <div class="p-4">
                    <h4 class="font-italic">Tranding</h4>
                    <ol class="list-unstyled mb-0">
                        {% for trand in other %}
                        <li><a href="/view?id={{ trand.id }}">{{ trand.title }}</a></li>
                       {% endfor %}
                    </ol>
                </div>
            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->

{% endblock %}